<!-- app/templates/app/attachment_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Attachments for Task</title>
</head>
<body>
    <ul>
        {% for attachment in attachments %}
            <li>
                <a href="{{ attachment.content.url }}" target="_blank">{{ attachment.file_name }}</a>
                <a href="{% url 'app:attachment_update' attachment.id %}">Edit</a>
                <a href="{% url 'app:attachment_delete' attachment.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No attachments yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'app:attachment_create' task_id %}">Add Attachment</a>
</body>
</html>
