<!-- app/templates/app/team_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Team Detail</title>
</head>
<body>
    <h2>{{ team.name }}</h2>
    <p>{{ team.description }}</p>
    <h3>Members</h3>
    <ul>
        {% for member in members %}
    <li>{{ member.get_full_name|default:member.username }}</li>
        {% endfor %}
    </ul>
    <!-- Add more team details as needed -->
    <a href="{% url 'app:team_update' team.id %}">Edit Team</a>
    <a href="{% url 'app:team_delete' team.id %}">Delete Team</a>
</body>
</html>
