body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.task-list-container {
    width: 80%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

.sorting-control {
    text-align: center;
    margin-bottom: 20px;
}

.sorting-control a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    background-color: #e7f2f8;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.sorting-control a:hover {
    background-color: #0056b3;
    color: #fff;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    background-color: #e7f2f8;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.task-list li a {
    text-decoration: none;
    color: #007bff;
    display: block;
}

.task-list .task-priority {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: #555;
}

.btn {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
